@import 'materialize';
@import 'ember-cli-materialize';


.bookmark-item{
  min-height: 60px;
  .bookmark-title{
    color: #b3c1c6;
    font-size: 1.3em;
    font-weight: 500;
  }
  .bookmark-url{
    font-size: 14px;
    font-weight: 400;
  }
  .bookmark-time{
    font-size: 13px;
    color: #b3c1c6;
    line-height: 1.5;
  }
  .bookmark-actions{
    margin-top: 30px;
  }
}
.add-bookmark{
  font-size: 2.5em;
  padding: 0px 5px;
}

