

{{outlet}}
<div class="row">
  <div class="col s10 offset-s1">
    <h1 class="center-align">Welcome to Bookmarkly</h1>
    <div class="col s4">
      {{create-new-folder}}
      <div class="collection">
        {{#each model.folders as |item|}}
        <a href="#!" class="collection-item">

          {{item.name}}
          <a href="#!" class="secondary-content add-bookmark">+</a>
        </a>
        {{/each}}
      </div>
    </div>
    <div class="col s8">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input  id="title" type="text" class="validate">
              <label for="title">Title</label>
            </div>
            <div class="input-field col s6">
              <input  id="url" type="text" class="validate">
              <label for="url">Url</label>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        {{#each model.bookmarks as |item|}}
        <div class="card row">
          <div class="bookmark-item">
            <div class="col s8">
              <p class="bookmark-title">
                {{item.title}}
                <small class="bookmark-url">{{item.url}}</small>
              </p>
              <p class="bookmark-time">
                {{item.createdAt}}
              </p>
            </div>
            <div class="col s4 right-align  bookmark-actions">
              <a class="waves-effect waves-teal btn-flat orange-text" href="#">Edit</a> 
              <a class="waves-effect waves-teal btn-flat orange-text" href="#">Delete</a> 
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{md-modal-container}}
